body {
  font-family: cursive;
}

.subtitle {
  background-color: skyblue;
  padding: 10px;
}

.logo {
  position: absolute;
  width: 100px;
  height: 90px;
}

.sis {
  margin-top: 15px;
  margin-left: 130px;
  margin-bottom: 8px;
}

.addu {
  margin-left: 210px;
  margin-top: 5px;
  padding-bottom: 50px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 545px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  li {
      display: none;

      @media all and (min-width: 545px) {
          display: block;
      }
  }

  a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: sans-serif;
      font-size: 1em;
      color: #000000;
      text-align: left;

      &:hover {
          color: #000000;
          background: #ffffff;
      }

      @media all and (min-width: 545px) {
          padding: 10px;
      }
  }
}

.space {
  padding-top: 30px;
}

#table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

#table th,
#table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#table th {
  background-color: #f2f2f2;
}
