body {
  font-family: cursive;
  background: #d8f9ff;
}

header {
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  text-align: center;
}

.center-text {
  text-align: center;
  font-weight: bold;
}

.red-text {
  color: red;
}

.bold-text {
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 545px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  li {
    display: none;

    @media all and (min-width: 545px) {
      display: block;
    }
  }

  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    text-align: center;

    &:hover {
      color: #000000;
      background: #ffffff;
    }

    @media all and (min-width: 545px) {
      padding: 10px;
    }
  }
}

.red-text {
  color: red;
}